@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Rubik:wght@300;400;500&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    margin-top: 10%;
    display: grid;
    place-items: center;
    background-color: #8c54c5;
}
.container{
    padding: 0.75em;
    width: 550px;
    height: 280px;
    border: solid 5px white;
}
.topo{
    display: flex;
    justify-content: space-between;
}
.logo{
    
    width: 7em;
    height: auto;
}
.titulo-principal{
    color:white;
    font-weight: bolder;
}
.entradas{
    display: flex;
    flex-direction: column;
}
.login{
    padding: 0.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter; 
    border: 1px solid grey;
    border-radius: 15px;
    height: 1.7em;
}
#email{
    margin-top: 1em;
}
#senha{
    margin-top: 1em;
}
input:focus{
    outline: none;
}
.fim{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.botao{
    margin-top: 10px;
    background: #fff;
    outline: none;
    border: none;
    width: 6em;
    height: 2.5em;
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
button:hover{
    transition: all 0.2s ease-in;
    border: 1px solid #000;
    color:white;
    background-color: #8c54c5;
}
p,a{
    color: white;
}
a{
    font-weight: 500;
}
a:hover{
    color: #000;
    transition: all 0.2s ease-in;
}